body {
    margin: 0;
    padding: 0;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blueviolet;

    width: auto;

    height: 5rem;

}

.nav-bar {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;


}

head,
h1 {

    color: orange;
    margin: 150px auto;
    text-align: center;
    background-color: blueviolet;
    width: 300px;
    height: auto;

}

.box {
    display: flex;
    justify-content: center;

    padding: 150px;
    /* Adds space within the element around the content */

    background-color: blueviolet;

    max-width: 300px;
    height: 150px;

}

.tiny-box {
    box-sizing: border-box;

    background-color: rgb(226, 119, 43);

    width: 300px;

    height: 150px;
    padding-left: 300px;
}

.c-of-c {
    width: 100%;
}

/* Default styles for large screens */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 50rem;
    width: auto;
    margin-top: 15rem;
    /* margin: 0 auto; */
    /* padding: 20px; */
    font-size: 75px;
}


/* Styles for tablets and smaller screens */



@media (max-width: 1024px) {
    .container {
        width: 100%;
        /* padding:; */
        font-size: 16px;
    }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .container {
        width: 100%;

        /* padding: 10px; */
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .content-box {
        height: 100%;

        width: 100%;

        /* padding: 10px; */
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;

    }
}